header {
  width: 100%;
  height: 7.5rem;
  background-color: #616161;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: #d0d0d0;
}

main {
  flex: 1;
}

footer {
  width: 100%;
  height: 1.5rem;
  background-color: #616161;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.icon {
  background-color: #d9d9d9;
  width: 11rem;
  height: 5.438rem;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.pageName {
  color: white;
  font-size: x-large;
  border-radius: 5px;
  width: 45%;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.search input {
  border: none;
  background-color: #b3b3b3;
  width: 100%;
  height: 90%;
  padding-left: 1.25rem;
  font-size: 1.25rem;
  color: white;
}

.headerSeparator {
  height: 3.75rem;
  width: 2px;
  background-color: #b6b6b6;
}

.username {
  font-size: 24px;
  color: white;
  font-weight: bolder;
}

.back {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 8.125rem;
  height: 3rem;
  border-radius: 5px;
  background-color: #b3b3b3;
  color: white;
  font-weight: bold;
  margin-left: 1.25rem;
  margin-right: 1.25rem;
  cursor: pointer;
}

.linesDate {
  display: flex;
  justify-content: space-between;
  margin-left: 4rem;
  margin-right: 4rem;
  margin-bottom: 4rem;
}

.lines {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.linesInputs input {
  display: none;
}

.linesInputs label {
  width: 4rem;
  height: 2.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}

#linha8Label {
  background-color: #a19e8f;
  margin-left: -4rem;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  border: 5px solid #a19e8f;
  border-top: 0;
  border-right: 0;
  border-left: 0;
}

#linha9Label {
  background-color: #02b397;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  border: 5px solid #02b397;
  border-top: 0;
  border-right: 0;
  border-left: 0;
}

.linesInputs input[type="radio"]:checked + label {
  font-weight: bold;
  color: white;
  border: 5px solid white !important;
  border-top: 0 !important;
  border-right: 0 !important;
  border-left: 0 !important;
}

.linesInputs input[type="radio"]:focus + label {
  border: 1px dotted #000;
}

.date {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.stationSelect {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.stations {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 1rem;
  margin-right: 1rem;
}

.stations input {
  display: none;
}

.stations label {
  width: 4rem;
  height: 2.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #a8a8a8;
  border: 1px solid black;
  border-right: 0;
  border-top: 0;
  border-bottom: 0;
}

.firstStation label {
  border-left: 0;
  border-bottom-left-radius: 5px;
}

.lastStation label {
  border-right: 0;
  border-bottom-right-radius: 5px;
}

.stations input[type="checkbox"]:checked + label {
  font-weight: bold;
  border-bottom: 5px solid white !important;
}

.stations input[type="checkbox"]:focus + label {
  border: 1px dotted #000;
}
