header {
  width: 100%;
  height: 7.5rem;
  background-color: #616161;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

html,
body {
  margin: 0;
  display: flex;
  flex-direction: column;
}

footer {
  width: 100%;
  height: 1.5rem;
  background-color: #616161;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 0;
  margin-right: 0;
}

.icon {
  background-color: #d9d9d9;
  width: 11rem;
  height: 5.438rem;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.search {
  background-color: #b3b3b3;
  border-radius: 5px;
  width: 45%;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 1rem;
}

.search input {
  border: none;
  background-color: #b3b3b3;
  width: 100%;
  height: 90%;
  padding-left: 1.25rem;
  font-size: 1.25rem;
  color: white;
}

.headerSeparator {
  height: 3.75rem;
  width: 2px;
  background-color: #b6b6b6;
}

.username {
  font-size: 24px;
  color: white;
  font-weight: bolder;
}

.exit {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 8.125rem;
  height: 3rem;
  border-radius: 5px;
  background-color: #b3b3b3;
  color: white;
  font-weight: bold;
  margin-left: 1.25rem;
  margin-right: 1.25rem;
  cursor: pointer;
}

main {
  flex: 1;
}

.categoryContainer {
  margin-left: 2rem;
  margin-right: 2rem;
}

.categoryList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 0.5rem;
}

.categoryTitle {
  margin-left: 0.5rem;
}

.categoryItem {
  width: 15.188rem;
  background-color: #e6e6e6;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  margin-left: 1rem;
  margin-bottom: 2rem;
  border-radius: 5px;
}

.categoryName {
  color: white;
  font-weight: bold;
  background-color: #585858;
  width: 15.188rem;
  height: 1.938rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.categoryName a {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  margin-left: 0.5rem;
}

.star {
  position: relative;
  bottom: 4.5rem;
  left: 6.2rem;
  cursor: pointer;
}

.categoryIcon {
  margin-top: 1.5rem;
}

.addItem {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15.188rem;
  height: 8.5rem;
  background-color: #585858;
  color: white;
  margin-left: 1rem;
  border-radius: 5px;
  font-size: 64px;
  font-weight: bolder;
  cursor: pointer;
}

#addItemPopUp {
  display: none;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.addItemPopUpContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #d9d9d9;
  width: 30rem;
  height: 23rem;
  padding: 3rem;
}

.addItemPopUpContent h2 {
  margin: 0;
}

#popUpInput {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 10rem;
}

.addItemPopUpContent input {
  width: 19.938rem;
  height: 2.813rem;
  border: none;
  border-radius: 5px;
  padding-left: 1rem;
}

.button {
  width: 10rem;
  height: 1.785rem;
  border: none;
  border-radius: 5px;
  background-color: #476087;
  color: white;
}

#closePopUpButton {
  color: black;
  background-color: #b3b3b3;
}
